*{
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

#map{
    height: 100%;
}

#menu {
    background:linear-gradient(0deg, #d3cce3, #e9e4f0);
    height: 100%;
    left: -360px;
    top:0;
    position: fixed;
    width: 360px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.30s ease;
    -moz-transition: 0.30s ease;
    -o-transition: 0.30s ease;
    transition: 0.30s ease;
}

#menu.active {
    -webkit-transform: translate(360px, 0px);
    -moz-transform: translate(360px, 0px);
    -o-transform: translate(360px, 0px);
    -ms-transform: translate(360px, 0px);
    transform: translate(360px, 0px);
}

.container {
    height:100%;
    width: 100%;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.30s ease;
    -moz-transition: 0.30s ease;
    -o-transition: 0.30s ease;
    transition: 0.30s ease;
}

.container.active {
    -webkit-transform: translate(360px, 0px);
    -moz-transform: translate(360px, 0px);
    -o-transform: translate(360px, 0px);
    -ms-transform: translate(360px, 0px);
    transform: translate(360px, 0px);
}

.menu-content{
    padding-left: 20px;
}

.menu-content p{
    font-weight: 600;
}

.title{
    width: 90%;
    margin:0 auto;
    text-align: center;
}
.ui-wrap{
    margin-bottom: 10px;
}


.menu-btn {
    z-index: 1000;
    background-color:black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    background: ghostwhite;
    opacity: 1;
    left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-btn {
    text-decoration: none;
    color: #000;
}

.menu-btn span:nth-child(1) {
    top: 13px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-btn span:nth-child(2) {
    top: 23px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-btn span:nth-child(3) {
    top: 33px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

/* Icon Animation */
.active .menu-btn span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);

}

.active .menu-btn span:nth-child(2) {
    opacity: 1;
}

.active .menu-btn  span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);

}

#menu.active {
    overflow-y: auto;
    overflow-x: hidden;
}

.search-box,.close-icon {
    position: relative;
    padding: 10px;
}

.search-box {
    height: 40px;
    width: 300px;
    padding: 0 12px;
    background-color: #fff;
    border: 0 none;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    transition: -webkit-box-shadow 0.3s ease-in;
    outline: 0 none;
}

.search-box:focus {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/*.close-icon {*/
    /*border:1px solid transparent;*/
    /*background-color: transparent;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*outline: 0;*/
    /*cursor: pointer;*/
/*}*/
/*.close-icon:after {*/
    /*content: "X";*/
    /*display: block;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*position: absolute;*/
    /*background-color: #FA9595;*/
    /*z-index:1;*/
    /*right: 35px;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*padding: 2px;*/
    /*border-radius: 50%;*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-weight: normal;*/
    /*font-size: 12px;*/
    /*box-shadow: 0 0 2px #E50F0F;*/
    /*cursor: pointer;*/
/*}*/

/*.search-box:not(:valid) ~ .close-icon {*/
    /*display: none;*/
/*}*/

.ui-autocomplete {
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.ui-menu-item-wrapper {
    color: #333;
    padding: 5px 7px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #fff;
}
.ui-menu-item-wrapper.ui-state-active {
    margin: 0;
    background-color: #ededed;
    border-color: #ededed;
    color: #333;
}

.ui-autocomplete.animated {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}
.hint {
    display: inline-block;
    vertical-align: middle;
}
.hint.margin{
    margin-left: 5px;
}
.toggle {
    display:flex;
    position:relative;
    width:5rem;
    height:2rem;
    background:white;
    align-self:center;
    user-select:none;
    overflow:hidden;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.toggle:after, .toggle:before {
    display: block;
    flex: 1;
    text-align:center;
    line-height:30px;
}

.toggle:after {
    content:"No";
}
.toggle:before {
    content:"Yes";
}

.toggle input {
    display:none;
}

.toggle label {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    cursor:pointer;
}

.card {
    position: relative;
    transition: 0.4s;
    width: 50%;
    height: 2rem;
    pointer-events: none;
    transform: translate(0);
    background: transparent;
    box-shadow: -2.5rem 0 #ff9966, 2.5rem 0 #93f9b9;
}

input:checked + label .card {
    transform: translateX(2.5rem);
    background: transparent;
}


.list {
    list-style: none;
    padding: .5rem .2rem;
}

.list__item {
    margin: 0 0 .5rem 0;
    padding: 0;
}


.cb,.radio{
    display: none;
}

.cb + label,
.radio + label{
    position: relative;
    display: inline-block;
    padding-left: 24px;
    margin-right: 32px;
    cursor: pointer;
    line-height: 13px;
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

.cb + label:before, .cb + label:after,
.radio + label:before, .radio + label:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all .3s ease;
}

.radio + label:before {
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}
/*.radio + label:hover {*/
    /*color: #44BB6E;*/
/*}*/
.radio + label:hover:before {
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}

.radio:checked + label:hover {
    color: #333333;
    cursor: default;
}
.radio:checked + label:before {
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
}

@keyframes change-size {
    from {
        box-shadow: 0 0 0 0 #44BB6E, inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    to {
        box-shadow: 0 0 0 1px #44BB6E, inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}
@keyframes select-radio {
    0% {
        box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    90% {
        box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 2px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    100% {
        box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}

@keyframes select-checkbox {
    0% {
        box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    90% {
        box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    100% {
        box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}

.cb + label:before {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f00c';
    line-height: 17px;
    border-radius: 0;
    background-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}
.cb + label:hover:before {
    color: #FFFFFF;
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}

.cb:checked + label:before {
    background-color: #C3C3C3;
    color: #FFFFFF;
    animation-duration: .2s;
    animation-name: select-checkbox;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #44BB6E;
}


.old-select{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.new-select{
    width: 300px;
    height: 40px;
    text-align: center;
    color: #444;
    line-height: 40px;
    position: relative;
}

.new-select .selection:active {
    transform: rotateX(42deg);
    -o-transform: rotateX(42deg);
    -ms-transform: rotateX(42deg);
    -moz-transform: rotateX(42deg);
    -webkit-transform: rotateX(42deg);
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
    transition: transform 200ms ease-in-out;
    -o-transition: -o-transform 200ms ease-in-out;
    -ms-transition: -ms-transform 200ms ease-in-out;
    -moz-transition: -moz-transform 200ms ease-in-out;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
}

.new-select .selection {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    z-index: 20;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
    transition: transform 200ms ease-in-out;
    -o-transition: -o-transform 200ms ease-in-out;
    -ms-transition: -ms-transform 200ms ease-in-out;
    -moz-transition: -moz-transform 200ms ease-in-out;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
}

.new-select .selection p {
    font-weight: 400;
    width: calc(100% - 40px);
    position: relative;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.new-select .selection:hover p,
.new-select .selection.open p {
    color: #bdc3c7;
}

.new-select .selection i {
    display: block;
    width: 1px;
    height: 70%;
    position: absolute;
    right: -1px;
    top: 15%;
    bottom: 15%;
    border: none;
    background-color: #bbb;
}

.new-select .selection > span {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 8px 0 8px; /* Height: 14px / Width: 16px */
    border-color: #bbb transparent transparent transparent;
    position: absolute;
    top: 13px; /* 40 / 2 - 14 / 2 */
    right: 12px; /* 40 / 2 - 16 / 2 */
}

.new-select .selection.open > span {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 14px 8px;
    border-color: transparent transparent #bbb transparent;
}

.new-option {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.new-option p {
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100%;
}

.new-option.reveal:hover {
    background-color: #36d1dc;
}

.selection-wrap{
    width: 300px;
    margin-bottom: 30px;

}

.legendwrapper{
    position: absolute;
    left: 10px;
    bottom: 30px;
    background-color: #fff;
    z-index: 10;
    padding:2px;
}
.mapLegend{
    height: 130px;
    display: inline-block;
    vertical-align: bottom;
}

#spazLegend rect{
    fill-opacity: 0.4;
    stroke:#666;
}
#roadLegend line {
    stroke-width: 5px;
    stroke-opacity: 0.8;
}
.legendTitle{
    font-weight: 700;
    font-size: 16px;
}

.tool-tip {
    /*padding: 5px 15px;*/
    position: relative;
    cursor: pointer;
    margin: 0 5px;
}

.tool-tip::after {
    background-color: #323a45;
    border-radius: 5px;
    color: #fff;
    content: attr(data-tooltip-title) " ";
    font-weight: normal;
    font-size: 14px;
    min-width: 180px;
    padding: 5px;
}

.tool-tip::before {
    width: 0;
    height: 0;
    content: "";
}

.tool-tip::before,
.tool-tip::after {
    position: absolute;
    transition: opacity 250ms ease 0ms, transform 250ms ease 0ms;
    transform-style: preserve-3d;
    opacity: 0;
    z-index: -1;
}


.tool-tip[data-tooltip-position="right"]::after {
    top: 50%;
}
.tool-tip[data-tooltip-position="bottom"]::after {
    left: 50%;
}
.tool-tip[data-tooltip-position="bottom"]::after {
    transform: translate3d(-50%, -10px, 0);
}
.tool-tip[data-tooltip-position="right"]::after {
    transform: translate3d(-10px, -50%, 0);
}
.tool-tip[data-tooltip-position="bottom"]::after {
    top: calc(100% + 10px);
}
.tool-tip[data-tooltip-position="right"]::after {
    left: calc(100% + 10px);
}


/* Pointers */
.tool-tip[data-tooltip-position="right"]::before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 50%;
}
.tool-tip[data-tooltip-position="bottom"]::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 50%;
}
.tool-tip[data-tooltip-position="right"]::before {
    transform: translate3d(0px, -50%, 0);
}
.tool-tip[data-tooltip-position="bottom"]::before {
    transform: translate3d(-50%, -10px, 0);
}
.tool-tip[data-tooltip-position="right"]::before {
    border-right: 7px solid #323a45;
    left: calc(100% + 3px);
}
.tool-tip[data-tooltip-position="bottom"]::before {
    border-bottom: 7px solid #323a45;
    top: calc(100% + 3px);
}
.tool-tip:hover::before,
.tool-tip:hover::after {
    opacity: 1;
    z-index: 100;
}

.tool-tip[data-tooltip-position="right"]:hover::after {
    transform: translate3d(0px, -50%, 0);
}


.tool-tip[data-tooltip-position="bottom"]:hover::before,
.tool-tip[data-tooltip-position="bottom"]:hover::after {
    transform: translate3d(-50%, 0px, 0);
}
.highlight{
    color:#108dc7;
}

.riskex.road p{
    margin-bottom: 0;
}

.fa-info-circle{
    color:#108dc7;
}