*{
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

ul, dl {
    margin-left: 0;
    padding-left: 0;
}

dd {
    margin-left: 0;
}

#map{
    height: 100%;
}

#menu {
    background:linear-gradient(0deg, #d3cce3, #e9e4f0);
    height: 100%;
    left: -360px;
    top:0;
    position: fixed;
    width: 360px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.30s ease;
    -moz-transition: 0.30s ease;
    -o-transition: 0.30s ease;
    transition: 0.30s ease;
}

#menu.active {
    -webkit-transform: translate(360px, 0px);
    -moz-transform: translate(360px, 0px);
    -o-transform: translate(360px, 0px);
    -ms-transform: translate(360px, 0px);
    transform: translate(360px, 0px);
}

.container {
    height:100%;
    width: 100%;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.30s ease;
    -moz-transition: 0.30s ease;
    -o-transition: 0.30s ease;
    transition: 0.30s ease;
}

.container.active {
    -webkit-transform: translate(360px, 0px);
    -moz-transform: translate(360px, 0px);
    -o-transform: translate(360px, 0px);
    -ms-transform: translate(360px, 0px);
    transform: translate(360px, 0px);
}

.menu-content{
    padding-left: 20px;
}

.menu-content.filters{
    margin-bottom: 50px;
}

.menu-content p{
    font-weight: 600;
}

.title{
    width: 90%;
    margin:0 auto;
    text-align: center;
}
.ui-wrap{
    margin-bottom: 10px;
}

h3{
    text-align: center;
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
}


.menu-btn {
    z-index: 1000;
    background-color:black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    background: ghostwhite;
    opacity: 1;
    left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-btn {
    text-decoration: none;
    color: #000;
}

.menu-btn span:nth-child(1) {
    top: 13px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-btn span:nth-child(2) {
    top: 23px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-btn span:nth-child(3) {
    top: 33px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

/* Icon Animation */
.active .menu-btn span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);

}

.active .menu-btn span:nth-child(2) {
    opacity: 1;
}

.active .menu-btn  span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);

}

#menu.active {
    overflow-y: auto;
    overflow-x: hidden;
}

.search-box,.close-icon {
    position: relative;
    padding: 10px;
}

.search-box {
    height: 40px;
    width: 300px;
    padding: 0 12px;
    background-color: #fff;
    border: 0 none;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    transition: -webkit-box-shadow 0.3s ease-in;
    outline: 0 none;
}

.search-box:focus {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.ui-autocomplete {
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.ui-menu-item-wrapper {
    color: #333;
    padding: 5px 7px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #fff;
}
.ui-menu-item-wrapper.ui-state-active {
    margin: 0;
    background-color: #ededed;
    border-color: #ededed;
    color: #333;
}

.ui-autocomplete.animated {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}
.hint {
    display: inline-block;
    vertical-align: middle;
}
.hint.margin{
    margin-left: 5px;
}
.toggle {
    display:flex;
    position:relative;
    width:5rem;
    height:2rem;
    background:white;
    align-self:center;
    user-select:none;
    overflow:hidden;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.toggle:after, .toggle:before {
    display: block;
    flex: 1;
    text-align:center;
    line-height:30px;
}

.toggle:after {
    content:"No";
}
.toggle:before {
    content:"Yes";
}

.toggle input {
    display:none;
}

.toggle label {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    cursor:pointer;
}

.card {
    position: relative;
    transition: 0.4s;
    width: 50%;
    height: 2rem;
    pointer-events: none;
    transform: translate(0);
    background: transparent;
    box-shadow: -2.5rem 0 #ff9966, 2.5rem 0 #93f9b9;
}

input:checked + label .card {
    transform: translateX(2.5rem);
    background: transparent;
}


.list {
    list-style: none;
    padding: .5rem .2rem;
}

.list__item {
    margin: 0 0 .5rem 0;
    padding: 0;
}


.cb,.radio{
    display: none;
}

.cb + label,
.radio + label{
    position: relative;
    display: inline-block;
    padding-left: 24px;
    margin-right: 32px;
    cursor: pointer;
    line-height: 13px;
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

.cb + label:before, .cb + label:after,
.radio + label:before, .radio + label:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all .3s ease;
}

.radio + label:before {
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}
/*.radio + label:hover {*/
    /*color: #44BB6E;*/
/*}*/
.radio + label:hover:before {
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}

.radio:checked + label:hover {
    color: #333333;
    cursor: default;
}
.radio:checked + label:before {
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
}

@keyframes change-size {
    from {
        box-shadow: 0 0 0 0 #44BB6E, inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    to {
        box-shadow: 0 0 0 1px #44BB6E, inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}
@keyframes select-radio {
    0% {
        box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    90% {
        box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 2px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    100% {
        box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}

@keyframes select-checkbox {
    0% {
        box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    90% {
        box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    100% {
        box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}

.cb + label:before {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f00c';
    line-height: 17px;
    border-radius: 0;
    background-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}
.cb + label:hover:before {
    color: #FFFFFF;
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
}

.cb:checked + label:before {
    background-color: #C3C3C3;
    color: #FFFFFF;
    animation-duration: .2s;
    animation-name: select-checkbox;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #44BB6E;
}

.selection-wrap{
    width: 300px;
    margin-bottom: 30px;

}

.legendwrapper{
    position: absolute;
    left: 10px;
    bottom: 30px;
    background-color: #fff;
    z-index: 10;
    padding:2px;
}
.mapLegend{
    height: 130px;
    display: inline-block;
    vertical-align: bottom;
}

#spazLegend rect{
    fill-opacity: 0.4;
    stroke:#666;
}
#roadLegend line {
    stroke-width: 5px;
    stroke-opacity: 0.8;
}
.legendTitle{
    font-weight: 700;
    font-size: 16px;
}

.tool-tip {
    position: relative;
    cursor: pointer;
    margin: 0 5px;
}

.tool-tip::after {
    background-color: #323a45;
    border-radius: 5px;
    color: #fff;
    content: attr(data-tooltip-title) " ";
    font-weight: normal;
    font-size: 14px;
    min-width: 180px;
    padding: 5px;
    text-align: left;
}

.tool-tip::before {
    width: 0;
    height: 0;
    content: "";
}

.tool-tip::before,
.tool-tip::after {
    position: absolute;
    transition: opacity 250ms ease 0ms, transform 250ms ease 0ms;
    transform-style: preserve-3d;
    opacity: 0;
    z-index: -1;
}


.tool-tip[data-tooltip-position="right"]::after {
    top: 50%;
}
.tool-tip[data-tooltip-position="bottom"]::after {
    left: 50%;
}
.tool-tip[data-tooltip-position="bottom"]::after {
    transform: translate3d(-50%, -10px, 0);
}
.tool-tip[data-tooltip-position="right"]::after {
    transform: translate3d(-10px, -50%, 0);
}
.tool-tip[data-tooltip-position="bottom"]::after {
    top: calc(100% + 10px);
}
.tool-tip[data-tooltip-position="right"]::after {
    left: calc(100% + 10px);
}


/* Pointers */
.tool-tip[data-tooltip-position="right"]::before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 50%;
}
.tool-tip[data-tooltip-position="bottom"]::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 50%;
}
.tool-tip[data-tooltip-position="right"]::before {
    transform: translate3d(0px, -50%, 0);
}
.tool-tip[data-tooltip-position="bottom"]::before {
    transform: translate3d(-50%, -10px, 0);
}
.tool-tip[data-tooltip-position="right"]::before {
    border-right: 7px solid #323a45;
    left: calc(100% + 3px);
}
.tool-tip[data-tooltip-position="bottom"]::before {
    border-bottom: 7px solid #323a45;
    top: calc(100% + 3px);
}
.tool-tip:hover::before,
.tool-tip:hover::after {
    opacity: 1;
    z-index: 100;
}

.tool-tip[data-tooltip-position="right"]:hover::after {
    transform: translate3d(0px, -50%, 0);
}

.tool-tip[data-tooltip-position="bottom"]:hover::before,
.tool-tip[data-tooltip-position="bottom"]:hover::after {
    transform: translate3d(-50%, 0px, 0);
}
.highlight{
    color:#108dc7;
}

.fa-info-circle{
    color:#108dc7;
}

.dropy-wrapper {
    width: 300px;
}

/* Dropy style */
.dropy {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.dropy__title {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: border-color 250ms ease-in-out;
    transition: border-color 250ms ease-in-out;
}
.dropy__title span {
    display: block;
    padding: 1rem 3rem 1rem 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dropy__title:hover {
    border-color: #868686;
}
.dropy__title:after {
    content: "";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 0.6rem solid #868686;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
}

.dropy__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.dropy__content ul {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    width: 100%;
    border-radius: 0.2rem;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 250ms ease-in-out, max-height 250ms ease-in-out;
    transition: opacity 250ms ease-in-out, max-height 250ms ease-in-out;
    list-style: none;
    background: #fafafa;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.dropy__content ul li:first-child a:hover {
    border-radius: 0.2rem 0.2rem 0 0;
}
.dropy__content ul li:last-child a:hover {
    border-radius: 0 0 0.2rem 0.2rem;
}
.dropy__content li a {
    display: block;
    padding: 1rem 0.5rem;
    color: #464646;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.dropy__content li a:hover {
    color: #666666;
    background-color: #eeeeee;
}
.dropy__content .dropy__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    /*margin-bottom: 1.5rem;*/
    padding: 1rem 0.5rem;
}
.dropy__content .selected {
    font-weight: 700 !important;
    color: #108dc7;
}

.dropy.open .dropy__content ul {
    max-height: 20rem;
    overflow-y: scroll;
    opacity: 1;
}

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #36d1dc;
    box-shadow: 0px 5px 0px 0px #108dc7;
}

.btn-wrapper{
    width:120px;
    margin:0 auto;
    margin-bottom: 50px;
}

